<label class="block pb-2">{{label || 'Hình ảnh'}}</label>
<div class="card" *ngIf="hero">
    <div class=" flex  justify-content-center">
        <p-button icon="pi pi-plus" (click)="fileUpload.click()" label="Choose"></p-button>
        <input class="file-input" type="file" #fileUpload id="uploadFile" (change)="uploadFileEvt($event)"
            name="uploadFile" multiple="{{isMultiple}}" accept="image/*" />
    </div>
    <div class=" flex justify-content-center" *ngIf="listFile">
        <div class="p-3 col flex justify-content-center">
            <div class="card p-2 col-8 p-fileupload-row ng-star-inserted flex align-items-center"
                *ngFor="let item of listFile">
                <div class="col-3 ">
                    <img src="{{item.path}}" width="100" class="ng-star-inserted">
                </div>
                <div class=" col-7 p-fileupload-filename">{{item.fileName}}</div>
                <div class="col-2">
                    <p-button icon="pi pi-plus" label="Xóa"></p-button>
                </div>
            </div>
            <p-progressBar mode="indeterminate" [style]="{ height: '6px' }"></p-progressBar>
        </div>
    </div>
</div>