<form [formGroup]="form" skipValidation>
    <div class="formgrid grid">
        <div class="field col-12">
            <label for="name" class="block">Tên <span class="required">*</span></label>
            <input id="name" maxlength="250" pInputText type="text" class="w-full"
                (input)="selectedEntity.name=getValue($event)" formControlName="name" />
            <div class="p-1 p-input-icon-right">{{selectedEntity.name.length}}/250</div>
            <app-validation-message [entityForm]="form" fieldName="name"
                [validationMessages]="validationMessages"></app-validation-message>
        </div>
        <div class="field col-12">
            <label for="parentId" class="block">Danh mục cha </label>
            <p-treeSelect class="md:w-20rem w-full" (onNodeSelect)="onSelectedNodes($event)" [(ngModel)]="selectedNodes"
                selectionMode="single" containerStyleClass="w-full" [options]="nodes" placeholder="Chọn danh mục"
                [showClear]="true" formControlName="parentId" [filter]="true" [filterInputAutoFocus]="true"
                scrollHeight="250px">
            </p-treeSelect>
        </div>
        <div class="field col-12">
            <app-upload-picture [files]="files" (onFileSelect)="OnFileSelect($event)"></app-upload-picture>
        </div>
        <div class="field col-12">
            <label for="sortOrder" class="block">Thứ tự <span class="required">*</span></label>
            <p-inputNumber formControlName="sortOrder"></p-inputNumber>
            <app-validation-message [entityForm]="form" fieldName="sortOrder"
                [validationMessages]="validationMessages"></app-validation-message>
        </div>
        <div class="field col-12">
            <label for="isActive" class="block">Trạng thái</label>
            <p-inputSwitch formControlName="isActive"></p-inputSwitch>
        </div>
        <div class="field col-12">
            <label for="isFeatured" class="block">Hiển thị trên trang chủ</label>
            <p-inputSwitch formControlName="isFeatured"></p-inputSwitch>
        </div>
        <div class="field col-12">
            <label for="metaDescription" class="block">Mô tả meta</label>
            <textarea id="metaDescription" maxlength="250" (input)="selectedEntity.metaDescription=getValue($event)"
                pInputTextarea class="w-full" formControlName="metaDescription"></textarea>
            <div class="p-1 p-input-icon-right">{{selectedEntity.metaDescription.length}}/250</div>
        </div>
        <div class="field col-12">
            <label for="metaTitle" class="block">Thẻ tiêu đề</label>
            <textarea id="metaTitle" pInputTextarea maxlength="250" (input)="selectedEntity.metaTitle=getValue($event)"
                class="w-full" formControlName="metaTitle"></textarea>
            <div class="p-1 p-input-icon-right">{{selectedEntity.metaTitle.length}}/250</div>
        </div>

    </div>

    <p-blockUI [blocked]="blockedPanel">
        <p-progressSpinner></p-progressSpinner>
    </p-blockUI>
    <div class="p-dialog-footer ng-tns-c100-12 ng-star-inserted">
        <p-button type="button" class="mx-5" (click)="confirmDelete()" *ngIf="this.isHiddenDelete"
            styleClass="p-button-danger" icon="fa fa-trash" iconPos="left" label="Xoá"></p-button>
        <button type="submit" (click)="saveChange()" [disabled]="!form.valid || btnDisabled " pButton icon="fa fa-save"
            iconPos="left" label="Lưu lại"></button>
    </div>
</form>